language: node_js
node_js:
- '10'
- '12'
- '13'
script:
- npm test
- lerna run build
- lerna run example
after_success:
- npx codecov
after_failure:
- npx codecov
before_deploy:
- echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" >> $HOME/.npmrc 2> /dev/null
deploy:
  provider: script
  script: lerna publish from-package --yes
  skip_cleanup: true
  on:
    tags: true
    repo: tpluscode/rdfine
    node: '13'
env:
  global:
    secure: cV+mGuT+2RDq6hbu/+T1SDp6sU4SV3wrfLgqpI7Y9ATscDYzGFS/iIiucOZpHQbJI7/OyechzXPFQpH/BQg9Pin+Q2jPb09pEUT/pFbkrcNlpwI21xOHi488X8K6Ttd0hA0DcXVhdXD2oZ/XtFR3ZHhjZHJ/CH3OnNxYDMhi1yvAqOXCCYypA9nKvv8lEKmRfu5z587tnuoHGAPJJH0gscsq/CTCvii8/Mqp6azUmvH5kfTX1oC4O8u+N89Bu5RaefAwJmwcloaB2Az9lNjwAoMEk86yVb8DUByT86cIKJEDfcDKExSRWIw/g+XdRGkfhuWQ6SHA425i4etnBfe0tbS2NgZfNNoE93etcCdiOUkokKymANWLrqdDzaYXn8OT7cdLkVu7sMRikiWY+g9EbBT7qGeaY4GuK2EdCC9QPHqMIEubSKHszB6hWLyabzzKvTzK9OfZEO8hwqDlxqcLHPnc56JF88UFft8vMYkcd6DTs9SaEt0nHeDeME+nGOxDPxsKupx4OGQs4xlh2ozPTRPUbSnSAk4lPzsEhrkS4PUIH13aIzHFuF7Ml8egAz3F2lxjWwnIaVYJrA7MOMxOAeesxQ8Msp5KhaIurpuKd23kY965ARv5lRdCoZDqCHeQpRA45X8z//g4LdZmhtj2d8LO3xMlq2kyKq8/Y0zMMG4=
